  div{
            background-color: black;
        }
        h1{
          background-color: aquamarine;color: brown;
        }
        h2{
            background-color: blue; color: aliceblue;
        }
        h3{
            background-color: coral;color: crimson;
        }
        h4{
            background-color: blueviolet;color: darkred;
        }
        h5{
            background-color: cyan;color: darkgreen;
        }