  .parent{

             background-color: rgb(22, 22, 22);
             width: 300px;
             height: 300px;
             margin: auto;
        }
        .child{
            text-align: center;
            background-color: aliceblue;
           margin-left: 100px;
           margin-right: 100px;
           margin-bottom: 10px;
           padding-bottom: 50px;


        }
       