*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: black;
}

.parent{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 4px 4px rgba(255, 228, 196, 0.373);

}
.logo{
    display: flex;
    align-items: center;
    gap: 30px;
}
.icon{
    padding: 5px;
    border-radius: 20px;
    width:200px;
    height: 40px;
    border: none;
     background-color: rgba(203, 203, 203, 0.222);
}
.login{
  border: none;
   padding: 5px;
    border-radius: 10px;
    background-color: rgb(248, 244, 244);

}
.Signup{
    border-radius: 5px;
    padding: 8px;
    background-color: rgb(245, 243, 243);
}
.yes{
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    gap: 50px;
    padding-left: 50px;
}
.user1{
   
    margin-left: 50px;


}
.user1 img{
    width: 700px;
    height: 400px;
}
.user{
   
  display: flex;
  flex-direction: column; 
  gap: 10px;
  width: 350px; 
 
  padding-right: 70px;
}
.yes button{
    background-color: rgb(42, 168, 168);
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: antiquewhite;
    
}
