*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    scroll-behavior: smooth;
}
.grid{
    background-color:#000000;
    color:#FBBF24;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    text-align: center;
   
}
.parent{
       background-color:#111827;

    height: 800px;
    padding: 50px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 50px;
    justify-content: center;
    align-items: center;
   

}
.child{
       background-color:#374151;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 30px;
     transition: all 0.5s ease;

}
.child:hover{
    transform:rotate(5deg) scale(1.05);

}
.parent img{
    width: 250px;
    height: 250px;
}