  *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .div1{
            background-color: rgb(235, 5, 5);
            color: black;
            padding-bottom:50px ;
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 50px;
            border: solid 10px;
           
        }
        .header{
            background-color: rgb(252, 206, 4);
            padding-bottom:50px ;
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 50px;
            text-align: center;
            border: solid 10px;
        }
        .Heros{
            background-color: rgb(253, 252, 252);
            margin-top: 10px;
            text-align: center;
            border: solid 10px;
        }
        .names{ padding-bottom: 10px;
            background-color: rgb(253, 252, 248);
            padding-bottom: 10px;
        }
         .imgstyle{
            background-color: red;
            border: solid 10px;
         }
        .imgstyle img{
           
            margin-left: 10px;
            margin-top: 10px;
            
            height: 300px;
            width: 317px;
            border: solid 10px;
           }