*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    scroll-behavior: smooth;

}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.parent{
    background-color:  #0F172A;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.child{
    background-color: #1E293B;
    color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 100px;
   gap: 10px;
   overflow: hidden;
  border-radius: 20px;
   position: relative;
   z-index: 1;
   transition: all 0.5s ease;

}
.child::before{
    content: "";
    background-color:#F59E0B;
    position: absolute;
    width: 150px;
    height: 150px;
    top: -50px;
    left: -50px;
    border-radius: 100px;


}
.child::after{
    content: "";
    background-color:#38BDF8;
    position: absolute;
    width: 150px;
    height: 150px;
    bottom: -50px;
    right: -50px;
    border-radius: 100px;


}
.child:hover{
    transform: scale(1.08) rotate(10deg);
}
.child img{
    width: 150px;
    height: 150px;
}