*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.parent{
    background-color: rgb(248, 244, 244);
    color: rgb(10, 10, 10);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.child{
    background-color: brown;

}
.para{
      position: absolute;
}


.child img{
    height: 200px;
    width: 200px;
}