*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;

}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.parent{
    background-color: bisque;
    color: black;
    height: 100hv; 
    padding: 30px;    
}
.thumbnail{
    background-color: black;
    color: antiquewhite;
    padding-left: 180px;
    padding-top: 20px;
    padding-bottom: 10px;
   
}
.child{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(185, 34, 34);
    border-radius: 30px;
   
}
.child2{
    display: flex;
    flex-direction: column;
    
}
.child img{
    height: 300px;
    width: 300px;
    
   
} 
.child3{
    display: flex;
    flex-direction: column;
}

  



