*{
    background-color: tomato;
}

#Home{
    background-color: rgb(0, 255, 21);color:rgb(231, 118, 13);
}


h1{
    background-color: rgb(131, 221, 243)!important;
    color: rgb(17, 17, 17) !important;
}
.heros{
    background-color: hotpink;
    color:black;
}
.Villains{
    background-color: yellow;
    color: red;
}
.Avengers{
    background-color: antiquewhite;
    color: brown;
}
.timeline{
    background-color: rgb(202, 228, 195);
    color: darkred;
} 
